@{
    ViewData["Title"] = "Start";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Vi förbättrar levnadsförhållanden</h1>
        <p class="lead text-muted">
            Föreningen, Järfälla Internationell Föreningen (JIF), blev till år 1992 för att hjälpa boenden med skolarbetet/läxhjälp för alla åldrar vare sig hjälp med matte eller svenska,
            barn som vuxna, alla som behöver hjälp får hjälp.
            Vi planerar för allas välbefinnande och ser till att våra medlemmar får de information som berör de själva,
            kommunen och landet i sitt helhet.
            Vi har samlat ett antal böcker till en fin kollektion i form av ett litet bibliotek för våra besökare.
        <p>
            @*<a asp-controller="Home" asp-action="updates" class="btn btn-primary my-2">Nyheter</a>*@
            <a asp-controller="Home" asp-action="visitus" class="btn btn-primary my-2">Besök oss</a>
        </p>
    </div>
</section>
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2>Från nuläge till önskat läge</h2>
        <p class="lead">
            Vi jobbar och sträver för:
        </p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Utveckling</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4">
                    Vi främjar målgruppens sociala, kulturella och samhälleliga utveckling, särskilt att förbättra kvinnor, barn och ungdomars situation.
                </p>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Intresse</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4">
                    Bevarar medlemmarnas kulturella intressen, genom att främja en samhällsutveckling som kännetecknas av jämställdhet, allas lika medborgerliga rättigheter samt respekt och tolerans.
                </p>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Jämställdhet</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4">
                    Vi vill verka för att målgruppen i Sverige ska ha samma rättigheter, skyldigheter och möjligheter till integritet och delaktighet som alla andra ungdomar.
                </p>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Folket</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4">
                    Utföra social rådgivning och lösa familjekonflikter i enlighet med svenska lagen och kulturella bakgrund. Vi strävar också efter dialog, samarbete och ömsesidig respekt och tolerans i samhället.
                </p>
            </div>
        </div>
    </div>
</div>
