@{
    ViewData["Title"] = "Besök oss";
}
<a target="_blank" rel="noreferrer" href="https://maps.google.com/?q=Snapphanevägen 244A, 17755 Järfälla">
    <address>
        <strong>Järfälla Internationell förening</strong><br>
        Snapphanevägen 244 A<br>
        177 55 Järfälla<br>
    </address>
</a>
